html {
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden; 
    background-color: #e6f0d4; 
}

@font-face {
    font-family: 'Violet';
    src: url("../fonts/VioletSans-Regular.ttf");
    font-weight: 900;
}

.container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 5% 40% 55%;
    grid-template-areas:
        ". navigator ."
        ". intro ."
        ". intro ."
        ". intro .";

    @media only screen and (max-device-width: 480px){
        grid-template-columns: 100%;
        grid-template-areas: 
            "navigator"
            "intro"
            "intro"
            "intro";
    }
}

.navigator {
    grid-area: navigator;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1em;
    max-height: 120px;
    
    .current{
        background-color: #95afc0;
    }

    a {
        margin-left: .5em;
    }
}

.links a{
    padding: 4px;
    background-color: #c8d6e5;
    border-radius: 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: #201717;
    position: relative;
    font-family: 'Violet';
    font-weight: 900;
    display: inline-block;
    margin: 0.5em 0;

    @media only screen and (max-device-width: 480px) {
        font-size: 2em;
        max-height: 2em;
    }
}

a:hover {
    background-color: #95afc0;
}

a:visited{
    color: #000000;
}

.button {
    font-family: 'Violet';
    font-weight: 900;
    font-size: 1em;
    text-decoration: none;
    background-color:  #c8d6e5;
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 10px;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.intro {
    grid-area: intro;
    font-family: "Violet";
    .title {
        font-family: "Violet";
        font-size: 2em;
        line-height: 1.5em;
        color: #30336b;
    }
    
    #firstline {
        margin-top: -10px;
        margin-bottom: 30px;
    }

    .description{
        display: block;
        font-family: "Violet";
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1.2em;
    }
    
    .links{
        word-spacing: 1em;
        margin-bottom: 2em;
    }

    @media only screen and (max-device-width: 480px){
        padding: 1em 1.3em 3em 1.3em;

        .title {
            font-size: 1.8em;
        }
        #firstline {
            margin-bottom: 0;
        }
        .description{
            font-size: 1.6em;
        }
        
        .links{
            display: flex;
            flex-direction: column;
        }

        a{
            text-align: center;
            margin-bottom: 1em;
        }
        
    }
}

