html {
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden; 
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 15% 50% 20% 15%;
    grid-template-areas:
        "nav nav nav nav"
        ". intro . ."
        ". intro . ."
        ". intro . ."
        "project project project project"
        "footer footer footer footer";
}

.navigation {
    grid-area: nav;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    padding: 0;
    text-align: center;
}

.navigation ul {
    padding: 0;
}

.navigation li {
    display: inline;
}

.navigation li a {
    color: #808e9b;
    text-align: center;
    padding: 2em;
    font-family: "Roboto";
    text-decoration: none;

}

.navigation li a:visited{
    color: #808e9b;
}

.intro{
    grid-area: intro;
    margin-bottom: 60px; //BTW intro & footer
}

#firstline {
    text-shadow: 1px 1px black;
    font-family: "Candara";
    color: #34495e;
    font-size: 3.5em;
}

#secondline {
    text-shadow: 1px 1px black;
    font-family: "Candara";
    color: #34495e;
    font-size: 2em;
}

.description{
    display: block;
    font-family: "Roboto";
    font-size: 1.1em;
    line-height: 2.1em;
}

.links{
    word-spacing: 20px;

}

.links a{
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
    position: relative;
}

.links a::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, .8, .13, 1);
    background-color: #f7d794;
}


.links a:hover::after {
    top: 0;
}

.links a:visited{
    color: #000000;
}

.project {
    grid-area: project;
    background-color: #34495e;

}

.footer{
    grid-area: footer;
    background-color: #34495e;
    height: 100px;
    text-align: center;
}

.footer p{
    vertical-align: middle;
    color: white;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
}

.footer a {
    color: #f7d794;
    text-decoration: none;
}

.footer a:visited {
    color: #f7d794;
    text-decoration: none;
}

@media screen and (max-width:450px){
    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 15% 50% 35%;
        grid-template-rows: 10% repeat(4, auto) auto;
        grid-template-areas: 
            "nav nav nav"
            "intro intro intro"
            "intro intro intro"
            "intro intro intro"
            "intro intro intro"
            "footer footer footer";
    }

    .navigation li a {
        padding: 1em;
    }

    .footer{
        height: 60px;
    }

    .intro{
        padding: 1.5em;
    }
}

.blog {
    grid-area: intro;
    font-family: "Roboto";
    font-size: 1.1em;
    line-height: 2.1em;
}

.blog-list {
    list-style: none;
}

.blog-date {
    font-family: "Candara";
    color: black;
    font-size: 1.2em;
    font-weight: bolder;
    margin-bottom: 0;
}

.blog-title {
    margin-top: 0;
    margin-bottom: -10px;
    text-align: left;
}

.blog-title a{
    text-shadow: 1px 1px black;
    font-family: "Candara";
    color: #34495e;
    font-size: 2.2em;   
}

.blog-title a:visited{
    text-shadow: 1px 1px black;
    font-family: "Candara";
    color: #34495e;
    font-size: 3em;
    
}

.blog-title a{
    text-decoration: none;
}


