
.card-container {
    width: 70%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.card {
    font-family: "Roboto";
    background-color: white;
    height: 250px;
    width: 250px;
    padding: 20px;
}

.card a{
    font-family: "Roboto";
    text-decoration: none;
}

.card a:visited{
    font-family: "Roboto";
    text-decoration: none;
    color: black;
}
