---
layout: default
---

<div class="intro">
    <span class="name">
        <h1 id="firstline">Hey</h1>
        <h2 id="secondline">My name is Yuchen Liu.</h2>
    </span>

    <div class="description">
        <p class="body">{{content}}</p>
        <div class="links">
            <a href="https://www.linkedin.com/in/yuchen-liu-29a704119/" target="_blank">linkedin</a>
            <a href="https://github.com/yuchenliu15" target="_blank">github</a>
            <a href="/assets/links/Liu_Yuchen_resume.pdf" target="_blank">resume</a>
            <a href="mailto:yl6448@nyu.edu?subject=subject">email</a>
        </div>
    </div>

</div>


<div class="project">

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


</div>