---
layout: default
---

<div class="intro">
    <span class="title">
        <h2 id="firstline">Hey, my name is Yuchen</h2>
    </span>

    <div class="description">
        {{content}}
    </div>
    <div class="links">
        <a href="https://www.linkedin.com/in/yuchenliu10/" target="_blank">👔linkedin</a>
        <a href="https://github.com/yuchenliu15" target="_blank">👨‍💻github</a>
        <a href="assets/links/Liu_Yuchen_resume.pdf" target="_blank">📚resume</a>
        <a href="mailto:yl6448@nyu.edu?subject=subject">📮email</a>
        <a href="/blog">⌨️blog</a>
    </div>
</div>


<!-- <div class="project" id="project">
    <div class="card-container">
        {% for item in site.data.project %}
        <div class="card">
            <h1><a href="{{item.link}}">{{item.name}}</a></h1>
            <hr />
            <p>{{item.description}}</p>
        </div>
        {% endfor %}
    </div>

</div> -->
