---
layout: default
---

<div class="intro">
    <span class="title">
        <h2 id="firstline">Hey, My name is Yuchen</h2>
    </span>

    <div class="description">
        <p>
            I'm a CS and Data Science student at <u>NYU</u>. 
            I'm excited to combine my coding skills and interests in data to build intelligent software.
        </p>
        <p>
            Outside of school, I mainly work on web development because I'm excited about 
            its vibrant community and evolving technologies.
            I like to predict what products do people want and think about how to make a positive impact.
            My passions lie particularly in fullstack, open source, and software design patterns. 
            <br/>
        </p>
        

    </div>
    <div class="links">
        <a href="https://www.linkedin.com/in/yuchenliu10/" target="_blank">👔linkedin</a>
        <a href="https://github.com/yuchenliu15" target="_blank">👨‍💻github</a>
        <a href="/resume/Liu_Yuchen_resume.pdf" target="_blank">📚resume</a>
        <a href="mailto:yl6448@nyu.edu?subject=subject">📮email</a>
    </div>
</div>


<!-- <div class="project" id="project">
    <div class="card-container">
        {% for item in site.data.project %}
        <div class="card">
            <h1><a href="{{item.link}}">{{item.name}}</a></h1>
            <hr />
            <p>{{item.description}}</p>
        </div>
        {% endfor %}
    </div>

</div> -->